.marquee {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
